footer {
    border-top: 0.5px solid black;
}

.ulFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 10px;
    font-size: 10px;
}

.footer-item {
    margin: 0 10px;
}

.footer-item a {
    text-decoration: none;
    color: black;
    font-family: 'CRENZO';
}

.footer-item a:hover {
    color: #787878;
}

.Copyrights {
    font-family: 'CRENZO';
    font-size: 10px;
    padding: 0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 0px) and (max-width: 425px){
    .ulFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin-top: 10px;
        font-size: 6.5px;
    }

    .Copyrights {
        font-family: 'CRENZO';
        font-size: 7.5px;
        padding: 0;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
        
    
}



@media screen and (max-width: 470px) {

    .footer-item {
        margin: 10px 5px;
    }
    
}