button {
    border: none;
    background-color: white;
    cursor: pointer;
    height: 32px;
    width: 32px;
    font-size: 15px;
}

button:hover {
    color: #6c6c6c;
}

@media screen and (min-width:0px) and (max-width: 450px) {
    button {
        margin-left: 0px;
    }
    
}