.search-bar {
    position: relative;
    display: inline-block;
  }
  
  .search-icon {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .search-dropdown {
    position: absolute;
    bottom: -100px; /* Initial position to hide */
    right: 0;
    width: 250px;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
    display: none;
    padding: 10px;
    transition: bottom 0.3s ease-in-out;
  }
  
  .search-dropdown.show {
    bottom: -60px; /* Show the dropdown */
    display: block;
  }
  
  input[type="text"] {
    border: none;
    border-bottom: 1px solid #000000;
    padding: 5px;
  }
  
  .search-button {
    background: none;
    border: 1px solid black;
    width: 60px;
    border-radius: 5px;

  }
  